<p style="color: green"><%= notice %></p>

<ul class="top_menu">
<li>ツイート</li>
<li>ツイートと返信</li>
<li>メディア</li>
<li>いいね</li>
</ul>

<div class="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>